
.jumbo-aux {
	
	background-color:white; 
	opacity:0.9;
}

.btn-aux{
	opacity: 0.9; 
	margin-left:10px;
}

.div-aux{	
	background-color:white; 
	padding: 20px 10px 20px 10px; 
	border: 1px solid; 
	border-radius: 15px; 
	opacity: 0.9;
}

.div-aux:hover{
	opacity:1;
}

tr{
	cursor:pointer;
}

.senha {
	padding-right: 20px;
	background-image: url("../eye-hidden.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 30px 30px;
}

#logoPastel {
	width: 280px;
    height: 80px;
}

#btnPesquisar{
	cursor: pointer;
}

#btnPesquisar :hover{
	opacity: 0.6;
}

.block{
	background-color: white;
	display: inline-block;
	border:3px solid white;
	border-radius: 10%;
	width: 50%;
	height: 50%;
	cursor: pointer;
}

.modal-content {
	width: auto;
	height: auto;
}
.modal-dialog{
	width: auto;
	height: auto;
}
.modal{
	width: auto;
	height: auto;
}

.imgdelete{
	height: 24px;
	width: 24px;
}